<div class="row">
        <div class="column">
            <h3>BOOKS</h3>
            <p>BOOKS</p>
            
            
        </div>
        <div class="column">
            <h3>BOOOOKS</h3>
            <p>BOOOKS</p>
        </div>
</div>