<div class="row">
        <div class="column2">
            <h3>CONTACT</h3>
            <p>CONTACT</p>
            
            
        </div>
        <div class="column2">
            <h3>CONTACT</h3>
            <p>CONTACT</p>
        </div>
</div>