<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./public/stylesheets/style.css">
</head>

  <body>

    <div class="header">
        <h1>Error! Page not found!</h1>
    </div>
              
    <div class="topnav">
        <a href="index.ejs">Home</a>
        <a href="books.ejs">Books</a>
        <a href="orders.ejs">Orders</a>
        <a href="contact.ejs" style="float:right">Contact</a>
    </div>

    {{{body}}}
    
    <div class="footer">
        <p>Website created by Reuben Conroy (rc113)</p>
        <br>
        <a href="http://validator.w3.org/check?uri=referer">
        <img    src="https://www.w3.org/html/logo/downloads/HTML5_Logo_32.png"
                style="border: 0; width: 32px; height: 32px"
                alt="Valid HTML 5">

    </div>

  </body>
</html>