<div class="row">
        <div class="column2">
            <h3>Information</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus eu leo sed condimentum. Fusce fermentum commodo ante quis luctus. Mauris odio velit, tempus sit amet metus nec, vehicula rutrum ipsum. Nam congue auctor ullamcorper. Duis eleifend quam eget nulla eleifend, vel vehicula elit posuere. Phasellus tincidunt lacus ac odio auctor consequat. Maecenas at massa et nunc porta ultricies porttitor ut eros. Proin ut tellus dui. Donec suscipit non leo condimentum fringilla. Quisque ultrices mattis arcu et sagittis. Vestibulum porttitor viverra nibh, ac lobortis risus consectetur nec. Maecenas vestibulum pulvinar convallis. Phasellus tempus id ante eu facilisis.
            <br><br>
            Nam ac magna ex. Phasellus eu dolor sit amet mauris aliquet consectetur. Nulla et tincidunt ipsum, in rhoncus elit. Integer volutpat lectus eget ipsum congue, vitae vestibulum urna congue. Nunc fringilla mollis augue, nec tristique sapien maximus eu. Praesent bibendum justo gravida odio gravida, nec tristique velit ultricies. Praesent placerat volutpat dui, sit amet consectetur diam tincidunt at. In mollis hendrerit pulvinar. Donec id odio nec justo iaculis sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur cursus feugiat lorem, nec maximus ex sagittis quis. Maecenas vitae odio vel risus fermentum pharetra. Curabitur aliquet nisl sit amet blandit congue. Fusce viverra malesuada justo, vitae ullamcorper magna convallis in. </p>
        </div>
        <div class="column2">
            <h3>Some more info...</h3>
            <p>Lorem Ipsum</p>
        </div>
</div>
